<script>
  $(function() {
    $('.lessons').sortable({
      update: function(event, ui) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: {row_order_position: ui.item.index() } }
        });
      }
    });  
  });
</script>



<br />
<div class= "registration_box col-10 offset-1">
  <div class = "container">
    <div class = "row" >
      <div class = 'col-sm-10 col-12'>
        <br />
        <h2> <%= current_course.title %></h2>
        <br />
      </div>
      <div class = 'col-sm-2 col-12'>
        <br />
        <%= link_to 'Preview As A Student...', course_path(current_course), class: 'btn btn-info btn-sm float-right' %>        
        <br />
        <br />
        <%= link_to "Add A New Section", new_instructor_course_section_path(current_course), class: 'btn btn-info btn-sm float-right' %> 
        <br />
        <br />       
      </div>
      <div class = "col-12">
      <p> <%= current_course.description %> </p>
      </div>
    </div>

    <div class = "text-center"> 
      <%= image_tag current_course.image, class: 'instructor-course-image' %>
    </div>
  </div>


  <!-- <br />
  # <%= link_to 'Preview As A Student...', course_path(current_course), class: 'btn btn-info btn-sm float-right' %>
  <br class = "clr" />
  <br />
  <div class = "float-right">
    <%= link_to "Add A New Section", new_instructor_course_section_path(current_course), class: 'btn btn-info btn-sm' %>
  </div>
 -->
  <br />

  <div class = "col-12">
    <% current_course.sections.each do |section| %>
      <div class = "section">
        <h4> 
          <%= section.title %> 
          <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-success btn-sm' %>
        </h4>
        <br />
        <div class = "row lessons">
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <div class="col-12 col-sm-6">
              <div class = "lesson text-center">
                <li data-update-url="<%= instructor_lesson_path lesson%>">
                  <%= link_to lesson_path(lesson) do %>
                    <b><%= lesson.title %> </b>
                    <br />
                    <small><%= lesson.subtitle %></small>
                  <% end %>
                </li>
              </div>
            </div>          
            <% end %>  
        </div>
        <br class = "clr" />
    </div>
    <br />    
    <% end %>
  </div>
</div>